h1 { margin-top: 0px; }
h2 { margin: auto; padding: 30px;}
body { background: #F5F5F5 !important;}
.header
{
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  height : 90px;
}
.profile
{
  display: flex;
  height: 90px;
}
.account
{
  background-color: #4CAF50;
  color: white;
  width: 50px;
  height: 25px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  border: none;
}
.cover_app
{
  width: 55px;
  height: 55px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  position: relative;
}
.app
{
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  width: 55px;
  height: 55px;
  border: none;
}
.paper
{
  /**/
}
.card
{
  width: 100%;
  background: #FFFFFF;
}
.board
{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  min-height: 42px;
}
.name_board
{
  display: inline-block;
  width: 150px;
  height: 40px;
  float: left;
}
.value_board
{
  display: inline-block;
  margin-left: 16px;
  width: 80px;
  height: 42px;
  float: right;
}
.sensor_name
{
  margin-left: 56px;
  margin-right: 0;
  width:  94px;
  height:  40px;
}
.sensor_value
{
  margin-right: 0;
  width: 80px;
  height: 42px;
  text-align: right;
}
.dropdown-content /*Hidden by Default*/
{
  display: none;
  min-width: 50px;
  position: absolute;
  z-index : 1;
  background-color: #f9f9f9;
}
.dropdown-content a /*For Link */
{
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover
{
  background-color: #f1f1f1
}
.modal /*background*/
{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /*overflow: auto;*/
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal_content /*modal content*/
{
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  width: 810px;
  height: 480px;
}
.email_title_list
{
  line-height: 30px;
  height: 30px;
  vertical-align: middle;
}
.email_account_form_button
{
  display: inline-block;
  height: 36px;
  padding: 0px;
  line-height: 0px;
  text-align: left;
}
.email_table
{
  display: block;
  font-family: "Helvetica","Arial",sans-serif;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  border: 1px solid rgba(0,0,0,.12);
  border-right: 0px;
  border-collapse: collapse;
}
.email_main_cell
{
  display: block;
  height: 45px;
  border-top: 1px solid rgba(0,0,0,.12);
  border-collapse: collapse;
  text-align: left;
  line-height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  transition: 0.3s;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.email_main_cell:hover
{
  background-color: #EEEEEE;
}
.email_sub_cover
{
  display: none;
  width: 100%;
}
.email_sub_cell
{
  display: block;
  border-top: 1px solid rgba(0,0,0,.12);
  height: 25px;
  text-align: left;
  line-height: 25px;
  padding-left: 24px;
  transition: 0.3s;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.email_sub_cell:hover
{
  background-color: #F5F5F5;
}
.email_id
{
  display: inline-block;
  float: left;
  width: calc(100% - 24px);
  text-align: left;
  height: 100%;
}
.email_unseen_num
{
  display: inline-block;
  float: right;
  width: 24px;
  height: 100%;
  text-align: center;
  font-size: 12px;
}
.email_box
{
  display: none;
  width: 100%;
  height: 100%;
}
.email_box_title
{
  display: block;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid rgb(218,218,218);
}
.email_account
{
  display: inline-block;
  height: 48px;
  line-height: 48px;
  float: left;
  text-align: left;
  padding-left: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.email_mailbox_button
{
  display: inline-block;
  height: 48px;
  line-height: 48px;
  padding-right: 24px;
  float: right;
  text-align: left;
  cursor : pointer;
}
.email_folder
{
  display: inline-block;
  float: left;
  padding-left: 20px;
}
.email_folder_dropdown
{
  display: block;
  height: 48px;
  line-height: 48px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}
.email_folder_dropdown_content
{
  display: none;
  position: absolute;
}
.email_add_folder_dropdown_content
{
  display: none;
  position: absolute;
}
.email_folder_list
{
  display: block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
}
.email_box_body
{
  display: block;
  width: 100%;
  height: calc(100% - 88px);
  border-bottom: 1px solid rgb(218,218,218);
  overflow-y: scroll;
}
.email_box_list
{
  display: block;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid rgb(218,218,218);
}
.email_box_list_FROM
{
  display: inline-block;
  width: 150px;
  height: 40px;
  line-height: 40px;
  float: left;
  text-align: left;
  padding-left: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.email_box_list_SUBJECT
{
  display: inline-block;
  width: calc(100% - 279px);
  height: 40px;
  line-height: 40px;
  float: left;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.email_box_list_DATE
{
  display: inline-block;
  width: 65px;
  height: 40px;
  line-height: 40px;
  float: right;
  padding-right: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.email_box_page_num
{
  width: 100%;
  height: 40px;
}
.page_prev_button
{
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding-right: 20px;
  cursor: pointer;
}
.page_next_button
{
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  cursor: pointer;
}
.page_num_index
{
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
.email_content_header
{
  display: block;
  width: calc(100% - 40px);
  height: auto;
  max-height: 100px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid rgb(218,218,218);
  overflow: hidden;
}
.email_content_SUBJECT
{
  display: inline-block;
  width: calc(100% - 130px);
  min-height: 30px;
  max-height: 100px;
  padding-top: 10px;
  padding-left: 10px;
  float: left;
  text-align: left;
  word-wrap: break-word;
  overflow: auto;
}
.email_content_SUBJECT::-webkit-scrollbar
{
  width: 0px;
  background: transparent;
}
.email_content_DATE
{
  display: inline-block;
  width: 110px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  padding-right: 10px;
  float : right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.email_content_sub_header
{
  display: block;
  width: calc(100% - 40px);
  height: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid rgb(218,218,218);
}
.email_content_FROM
{
  display: block;
  padding-left: 10px;
  height: 40px;
  line-height: 40px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.email_content_main
{
  display: block;
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
}
.email_content_BODY
{
  display: block;
  width: 100%;
  height: 100%;
  float: left;
  text-align: left;
  word-wrap: break-word;
  padding-left: 5px;
  padding-right: 17px;
  overflow-y: auto;
}
.email_content_BODY::-webkit-scrollbar
{
  width: 0px;
  background: transparent;
}
.submit_button
{
  float: left;
  bottom: 0px;
}
.close /*Close Button*/
{
  float: right;
  color: #aaa;
  width: 28px;
  height: 28px;
  font-size: 28px;
  font-weight: bold;
  display: inline-block;
  line-height: normal;
}
.close:hover,
.close:focus
{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.show /*dropdown content show*/
{
  display: block;
}

#top_inner
{
  text-align: center;
  width: 100%;
  height: 25px;
  position: absolute;
}
#bottom_inner
{
  text-align: center;
  width: 100%;
  height: 65px;
  position: absolute;
  margin-top: 25px;
}
#email_top
{
  width: 100%;
  height: 65px;
  text-align: center;
}
#email_title
{
  width: 25%;
  height: 100%;
  text-align: center;
  display: inline-block;
}
#email_title_button
{
  float: left;
}
#email_menu
{
  width: 25%;
  height: calc(100% - 65px);
  float:left;
  background-color: #F5F5F5;
  box-shadow: 1px 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
#email_body
{
  width: 75%;
  height: calc(100% - 65px);
  float:right;
}
#email_content
{
  display: none;
}
#email_account_form
{
  display: none;
}
#title
{
  font-size : 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 20px;
  padding-bottom: 12px;
}
#sensor_title
{
  font-size : 20px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 20px;
  padding-bottom: 12px;
}
#schedule
{
  font-size : 20px;
}
#weather_display
{
  min-width: 86px;
  min-height: 75px;
}
#weather_summary
{
  display: inline-block;
  min-width: 90px;
  text-align: center;
}
#weather_icon
{
  width: 75px;
  height: 75px;
}
#weather_conditions
{
  font-size: 12px;
}
#weather_temp
{
  display: inline-block;
  min-width: 85px;
}
#weather_real
{
  color: rgb(253,132,59);
  font-size: 40px;
  line-height: 75px;
  text-align: center;
}
#weather_feel
{
  color: rgb(253,132,59);
  font-size: 13px;
  text-align: center;
}
#weather_wind
{
  min-width: 104px;
}
#weather_wind_kph
{
  display: block;
  font-size: 40px;
  line-height: 75px;
  text-align: center;
}
#weather_wind_dir
{
  display: block;
  font-size: 13px;
  text-align: center;
}
#weather_others
{
  width: 100%;
  border-top: 1px solid rgb(218,218,218);
}
#forecast_6day
{
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}
#forecast_6day_1
{
  display: table;
  width: 100%;
  margin: 0px;
}
#forecast_6day_2
{
  display: table;
  width: 100%;
  margin: 0px;
}
#forecast_cell
{
  display: table-cell;
  width: 33.3%;
}
#forecast_date
{
  display: block;
  color: rgb(30, 32, 35);
  font-size: 12px;
  text-align: center;

}
#forecast_temp
{
  display: block;
  width: 100%;
  text-align: center;
}
#forecast_temp_high
{
  display: inline-block;
  color: rgb(213, 32, 42);
  font-size: 12px;
  text-align: center;
}
#forecast_temp_low
{
  display: inline-block;
  color: rgb(0, 83, 174);
  font-size: 12px;
  text-align: center;
}
#forecast_conditions
{
  width: 100%;
  display: block;
  text-align: center;
}
#forecast_icon_url
{
  text-align: center;
}
#forecast_conditions_details
{
  display: block;
  font-size: 12px;
  text-align: center;
}
