<!DOCTYPE html>
<script src = "http://code.jquery.com/jquery-1.7.1.js"></script>
<script src= "http://192.168.100.131:8080/socket.io/socket.io.js"></script>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>IOT_Service</title>
    <script src="{% static "mqtt.js" %}"></script>
    <script src="{% static "email.js" %}"></script>
    <script type = "text/javascript">
      {% if master %}
        var master = "{{ master }}";
      {% endif %}
      {% if not master %}
        var master = "unknown";
      {% endif %}

      socket.emit("connected", master);

      socket.on(master, function(data){
        for(var key in data["responses"])
        {
          var method = key;
          var responses_data = data["responses"][key];
        }
        var success = data["success"];
        console.log("Worker responses '%s'", method)
        window[method](master, responses_data, success);
      });

      function dropdown(div){
        document.getElementById(div).classList.toggle("show");
      }

      window.onload = function()
      {
        var modal = document.getElementById("mail_modal");
        var button  = document.getElementById("mail_button");
        var span = document.getElementsByClassName("close")[0];
        var add_account = document.getElementById("add_account");
        var mail_account_form = document.getElementById("mail_account_form");
        add_account.onclick = function(){
          mail_account_form.style.display = "block";
        }

        button.onclick = function(){
          modal.style.display = "block";
        }

        span.onclick = function(){
          modal.style.display = "none";
          mail_account_form.style.display = "none";
        }

        window.onclick = function(event){
          if (event.target == modal)
          {
            modal.style.display = "none";
            mail_account_form.style.display = "none";
          }
          /*
          if(!event.target.matches('.account'))
          {
            var dropdowns = document.getElementsByClassName("dropdown-content");

            for (var item in dropdowns)
            {
              if(item.classList.contains('show'))
                item.classList.remove('show')
            }
          }
          */
        }
      }
    </script>
    <script src="{% static "material.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "material.min.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static "basic.css" %}">
  </head>
  <body>
    <div class = "header">
      <div class= "block">IOT Service</div>
    </div>

    <div class = "profile">
      <div id= "top_inner">
        {% if user.is_authenticated %}
          <button onclick="dropdown('account-dropdown')" class="account" >{{ user.first_name }}</button>
          <div id="account-dropdown" class="dropdown-content">
            <form  action="{%url "social:disconnect" "google-oauth2" %}?next={{ request.path }}" method="post">
              {% csrf_token %}
              <button type="submit" name="button">disconnect</button>
            </form>
            <a href="{%url "auth:logout"%}">logout</a>
          </div>
        {% endif %}
      </div>
      <div id="bottom_inner">
        <div class="cover_app">
          <button id="mail_button" class="app mdl-badge mdl-badge--overlap" data-badge ="1" >
            Mail
          </button>
          <div id="mail_modal" class="modal">
            <div class="modal_content">
              <div id ="mail_top" class="mdl-layout__header" style="display: block; z-index: 2;">
                <div>
                  <button id="mail_title_button" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i></button>
                    <ul class="mdl-menu mdl-js-menu" for="mail_title_button">
                      <li id="add_account" class="mail_title_list mdl-menu__item">
                        Add account
                      </li>
                    </ul>
                  <span class="close">&times;</span>
                </div>
              </div>

              <div id="mail_menu">
                <div class="mail_table">
                    {% if email %}
                      {% for key, value in email.items %}
                        <div id={{key.0}} onclick= "mail_click('{{key.0}}.{{key.1}}')" class="mail_main_cell">{{key.0}}</div>
                        <div id={{key.0}}.{{key.1}} class="mail_sub_cover">
                          {% for id in value %}
                            <div id={{id}} class="mail_sub_cell">
                              {{id}}
                            </div>
                          {% endfor %}
                        </div>
                      {% endfor %}
                    {% endif %}
                </div>
              </div>

              <div id="mail_body">
                <div id="mail_account_form">
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="user_mail" name="user_email">
                    <label class="mdl-textfield__label" for="user_mail">Email address</label>
                  </div>
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="user_password" name="user_password">
                    <label class="mdl-textfield__label" for="user_password">User password</label>
                  </div>
                  <div class="mail_account_form_button mdl-textfield ">
                    <button onclick="email_check()"class="mdl-button mdl-js-button mdl-button--raised
                    mdl-js-ripple-effect mdl-button--accent"
                    style="float: left; bottom:0px;">Submit
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

      {% if not user.is_authenticated %}
      <div style="z-index : 1;">
        <a href="{%url "social:begin" "google-oauth2" %}?next={{ request.path }}">Google+</a>
      </div>
      {% endif %}
    </div>

    <div class = "column paper1">
      <div class = "card schedule">
        <div id = title>Schedule</div>
      </div>
    </div>

    {% if even %}
      <div class = "column paper2" id = "sensor_card1">
        {% for key, values in even.items %}
        <div class="card sensor" id = {{ key }}>
          <div id = sensor_title >{{ key }}</div>
          {% for name, value in values.items %}
          <div class = "board">
            <div class ="name_board">
              <div class= "sensor_name" id= "sensor_{{ name }}">
                  {{ name }}
              </div>
            </div>
            <div class ="value_board">
              <div class= "sensor_value" id = "sensor_{{name}}_value">
                  {{ value }}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if odd %}
      <div class = "column paper3" id = "sensor_card2">
        {% for key, values in odd.items %}
        <div class="card sensor" id = {{ key }}>
          <div id = sensor_title >{{ key }}</div>
          {% for name, value in values.items %}
          <div class = "board">
            <div class ="name_board">
              <div class= "sensor_name" id= "sensor_{{ name }}">
                  {{ name }}
              </div>
            </div>
            <div class ="value_board">
              <div class= "sensor_value" id = "sensor_{{name}}_value">
                  {{ value }}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    {% endif %}
    <div class = "column paper4">
      <div class = "card api">
        <div id = title >api</div>
      </div>
    </div>
  </body>
</html>
