<!DOCTYPE html>
<script src = "http://code.jquery.com/jquery-1.7.1.js"></script>
<script src= "http://192.168.100.131:8080/socket.io/socket.io.js"></script>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>IOT_Service</title>
    <script src="{% static "mqtt.js" %}"></script>
    <script src="{% static "email.js" %}"></script>
    <script src="{% static "weather.js" %}"></script>
    <script type = "text/javascript">
      {% if master %}
        var master = "{{ master }}";
      {% endif %}
      {% if not master %}
        var master = "unknown";
      {% endif %}

      socket.emit("connected_master", master);

      socket.on("disconnect", function(){
        socket.emit("disconnected_master", master);
      });

      socket.on(master, function(data){
        var method = data["method"];
        var responses_data = data["data"];
        var success = data["success"];

        console.log("Worker responses %s", method);
        window[method](master, responses_data, success);
      });

      function dropdown(div){
        if(document.getElementById(div))
        {
          document.getElementById(div).classList.toggle("show");
        }
        else if(document.getElementsByClassName(div)[0])
        {
          document.getElementsByClassName(div)[0].classList.toggle("show")
        }
      }

      window.onload = function()
      {
        var modal = document.getElementById("email_modal");
        var button  = document.getElementById("email_button");
        var span = document.getElementsByClassName("close")[0];
        var add_account = document.getElementById("add_account");
        var email_account_form = document.getElementById("email_account_form");
        add_account.onclick = function(){
          email_account_form.style.display = "block";
        }

        button.onclick = function(){
          modal.style.display = "block";
        }

        span.onclick = function(){
          modal.style.display = "none";
          email_account_form.style.display = "none";
        }

        window.onclick = function(event){
          if (event.target == modal)
          {
            modal.style.display = "none";
            email_account_form.style.display = "none";
            $('#email_content').css('display', 'none');
            $('.email_content_BODY').empty();
            $('#email_main').css('display', 'block');
          }
          /*
          if(!event.target.matches('.account'))
          {
            var dropdowns = document.getElementsByClassName("dropdown-content");

            for (var item in dropdowns)
            {
              if(item.classList.contains('show'))
                item.classList.remove('show')
            }
          }
          */
        }
      }
    </script>
    <script src="{% static "material.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "material.min.css" %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static "basic.css" %}">
  </head>
  <body>
    <div class = "header">
      <div class= "block">IOT Service</div>
    </div>

    <div class = "profile">
      <div id= "top_inner">
        {% if user.is_authenticated %}
          <button onclick="dropdown('account-dropdown')" class="account" >{{ user.first_name }}</button>
          <div id="account-dropdown" class="dropdown-content">
            <form  action="{%url "social:disconnect" "google-oauth2" %}?next={{ request.path }}" method="post">
              {% csrf_token %}
              <button type="submit" name="button">disconnect</button>
            </form>
            <a href="{%url "auth:logout"%}">logout</a>
          </div>
        {% endif %}
      </div>
      <div id="bottom_inner">
        <div class="cover_app">
          <button id="email_button" class="app mdl-badge mdl-badge--overlap">
            Mail
          </button>
          <div id= "email_modal" class="modal">
            <div id = "email_main" class="modal_content">
              <div id ="email_top" class="mdl-layout__header" style="display: block; z-index: 2;">
                <div>
                  <button id="email_title_button" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i></button>
                    <ul class="mdl-menu mdl-js-menu" for="email_title_button">
                      <li id="add_account" class="email_title_list mdl-menu__item">
                        Add account
                      </li>
                    </ul>
                  <span class="close">&times;</span>
                </div>
              </div>

              <div id="email_menu">
                <div class="email_table">
                    {% if email %}
                      {% for key, value in email.items %}
                        <div id= {{key.0}} onclick= "click_host('{{key.0}}.{{key.1}}')" class="email_main_cell">{{key.0}}</div>
                        <div id= {{key.0}}.{{key.1}} class="email_sub_cover">
                          {% for id in value %}
                            <div id= "{{ id }}@{{ key.0 }}.{{ key.1 }}" onclick="click_email('{{ id }}@{{ key.0 }}.{{ key.1 }}')" class="email_sub_cell">
                              <div id= "email_id" class="email_id">
                                {{id}}
                              </div>
                              <div id= "email_unseen_num" class="email_unseen_num">
                              </div>
                            </div>
                          {% endfor %}
                        </div>
                      {% endfor %}
                    {% endif %}
                </div>
              </div>

              <div id="email_body">
                <div class="email_box" >
                  <div class="email_box_title">
                    <div class="email_account">
                    </div>
                    <div class="email_folder">
                    </div>
                    <div class="email_mailbox_button">
                      MailBox
                    </div>
                  </div>

                  <div class="email_box_body">
                  </div>

                  <div class="email_box_page_num">
                    <div class="page_prev_button">
                    </div>
                    <div class="page_num_index">
                    </div>
                    <div class="page_next_button">
                    </div>
                  </div>
                </div>

                <div id="email_account_form">
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="user_email" name="user_email">
                    <label class="mdl-textfield__label" for="user_email">Email address</label>
                  </div>
                  <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="user_password" name="user_password">
                    <label class="mdl-textfield__label" for="user_password">User password</label>
                  </div>
                  <div class="email_account_form_button mdl-textfield ">
                    <button onclick="add_email()"class="mdl-button mdl-js-button mdl-button--raised
                    mdl-js-ripple-effect mdl-button--accent"
                    style="float: left; bottom:0px;">Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div id = "email_content" class="modal_content">
              <div class="email_content_header">
                <div class="email_content_SUBJECT">
                </div>
                <div class="email_content_DATE">
                </div>
              </div>

              <div class="email_content_sub_header">
                <div class="email_content_FROM">
                </div>
              </div>

              <div class="email_content_main">
                <div class="email_content_BODY">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% if not user.is_authenticated %}
      <div style="z-index : 1;">
        <a href="{%url "social:begin" "google-oauth2" %}?next={{ request.path }}">Google+</a>
      </div>
      {% endif %}
    </div>

    <div class= "mdl-grid">
      <div class = "mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-phone">
        <div class = "card schedule">
          <div id = 'title'>Schedule</div>
        </div>
      </div>

      {% if even %}
        <div class = "mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-phone" id = "sensor_card1">
          {% for key, values in even.items %}
          <div class="card sensor" id = {{ key }}>
            <div id = 'sensor_title' >{{ key }}</div>
            {% for name, value in values.items %}
            <div class = "board">
              <div class ="name_board">
                <div class= "sensor_name" id= "sensor_{{ name }}">
                    {{ name }}
                </div>
              </div>
              <div class ="value_board">
                <div class= "sensor_value" id = "sensor_{{name}}_value">
                    {{ value }}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      {% endif %}

      {% if odd %}
        <div class = "mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-phone" id = "sensor_card2">
          {% for key, values in odd.items %}
          <div class="card sensor" id = {{ key }}>
            <div id = 'sensor_title' >{{ key }}</div>
            {% for name, value in values.items %}
            <div class = "board">
              <div class ="name_board">
                <div class= "sensor_name" id= "sensor_{{ name }}">
                    {{ name }}
                </div>
              </div>
              <div class ="value_board">
                <div class= "sensor_value" id = "sensor_{{name}}_value">
                    {{ value }}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      {% endif %}

      <div class = "mdl-cell mdl-cell--3-col-desktop mdl-cell--4-col-phone" >
        {% if weather.conditions %}
            <div id = "weather" class = "card api">
              <div id = 'title'>{{ weather.conditions.location }}</div>
              <div id= "forecast_today" class= "board mdl-grid">
                <div id = 'weather_summary' class= "mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-phone">
                  <img id= 'weather_icon' src="{{  weather.conditions.icon_url }}"/>
                  <div id= 'weather_conditions'>{{ weather.conditions.weather }}</div>
                </div>
                <div id = 'weather_temp' class= "mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-phone">
                  <div id= 'weather_real'>{{ weather.conditions.temp_c }}</div>
                  <div id = 'weather_feel'>Feels like {{ weather.conditions.feelslike_c }}°C</div>
                </div>
                <div id= "weather_wind" class= "mdl-cell mdl-cell--4-col-desktop mdl-cell--2-col-phone">
                  <div id= "weather_wind_kph">
                    {{ weather.conditions.wind_kph }}
                  </div>
                  <div id= "weather_wind_dir">
                  kPh From {{ weather.conditions.wind_dir }}
                  </div>
                </div>
              </div>
              <table id = "weather_others" class= "board">
                <tbody>
                  <tr>
                    <td style="text-align: center;">pressure</td>
                    <td id= "pressure" style="text-align: center;">{{ weather.conditions.pressure_mb }} hPa</td>
                  </tr>
                  <tr>
                    <td style="text-align: center;">visibility</td>
                    <td id= "visibility" style="text-align: center;">{{ weather.conditions.visibility_km }} km</td>
                  </tr>
                  <tr>
                    <td style="text-align: center;">dewpoint</td>
                    <td id= "dewpoint" style="text-align: center;">{{ weather.conditions.dewpoint_c }} °C</td>
                  </tr>
                  <tr>
                    <td style="text-align: center;">humidity</td>
                    <td id= "humidity" style="text-align: center;">{{ weather.conditions.relative_humidity }}</td>
                  </tr>
                </tbody>
              </table>
              <div id= "forecast_6day" class="board mdl_grid">
                <div id= "forecast_6day_1" class= "mdl-cell mdl-cell--12-col-desktop mdl-cell--4-col-phone">
                  {% for day in weather.forecast_6day.0 %}
                    <div id= "forecast_cell">
                      <div id= "forecast_date">
                        {{ day.date.weekday_short }} 0{{ day.date.month }}/{{ day.date.day }}
                      </div>
                      <div id= "forecast_temp">
                        <span id="forecast_temp_high">{{ day.high.celsius }}°</span>
                        <span style="display: inline-block; font-size: 12px; text-align: center; color: rgb(215, 215, 215);">|</span>
                        <span id="forecast_temp_low">{{ day.low.celsius }}°</span>
                      </div>
                      <div id= "forecast_conditions">
                        <img id= "forecast_icon_url" src="{{ day.icon_url }}"/>
                        <div id= "forecast_conditions_details">{{ day.conditions }}</div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
                <div id= "forecast_6day_2" class= "mdl-cell mdl-cell--12-col-desktop mdl-cell--4-col-phone">
                  {% for day in weather.forecast_6day.1 %}
                    <div id= "forecast_cell">
                      <div id= "forecast_date">
                        {{ day.date.weekday_short }} 0{{ day.date.month }}/{{ day.date.day }}
                      </div>
                      <div id= "forecast_temp">
                        <span id="forecast_temp_high">{{ day.high.celsius }}°</span>
                        <span style="display: inline-block; font-size: 12px; text-align: center; color: rgb(215, 215, 215);">|</span>
                        <span id="forecast_temp_low">{{ day.low.celsius }}°</span>
                      </div>
                      <div id= "forecast_conditions">
                        <img id= "forecast_icon_url" src="{{ day.icon_url }}"/>
                        <div id= "forecast_conditions_details">{{ day.conditions }}</div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
        {% else %}
          <div class = "card api">
            <div id = 'title'>Weather</div>
          </div>
        {% endif %}
      </div>

    </div>
  </body>
</html>
